<html>
<head>
    <title>Your Search Results</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

</head>
<body>
	<div class='container'>
    <h1>Your contacts are merely a memory.</h1>
    <button class="btn"><a href='/'>Search again</a></button>
    </div>
</body>
</html>
